/* יישור כללי לימין + RTL */
body {
  direction: rtl;
  text-align: right;
}

/* כללים שמופעלים כשיש dir="rtl" על html */
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] nav,
html[dir="rtl"] header,
html[dir="rtl"] footer {
  direction: rtl;
}

html[dir="rtl"] h1,
html[dir="rtl"] h2,
html[dir="rtl"] h3,
html[dir="rtl"] p,
html[dir="rtl"] li {
  text-align: right;
}
